.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0px !important;
}

.image-grid figure {
  margin: 2px !important;
  height: 20vw;
  position: relative;
  overflow: hidden;
  /* Removed flex-grow: 1; to stop figures from trying to fill the available space */
}

.image-grid img,
.image-grid video {
  height: 20vw;
  margin: 0 2px 2px 0;
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

/* Color entries */
.color-markdown-files .nav-file-title[data-path$="md"] .nav-file-title-content {
  color: yellowgreen;
}

.color-markdown-files .nav-file-title[data-path$="todo.md"] .nav-file-title-content {
  color: red;
}

/* Hide media files */
.hide-media-files .nav-file-title[data-path$='.jpeg'],
.hide-media-files .nav-file-title[data-path$='.jpg'],
.hide-media-files .nav-file-title[data-path$='.png'] {
  display: none;
}

.nav-file-title.is-active {
  background-color: #404040;
}

.yesterday-todo, .yesterday-todo ~ div {
  color: orange;
}

/* Hide comments */
.yesterday-comment,
.yesterday-comment~div {
  display: none;
}

.callout[data-callout="yesterday-dream"] {
  --callout-color: 128, 0, 128;
  --callout-icon: bed-double;
}

.callout[data-callout="yesterday-todo"] {
  --callout-color: 255, 165, 0;
  --callout-icon: check-check;
}

div {
  /* Making sure the dialog is not displayed over the text */
  clear: both;

  /* margin-bottom: 0 !important;
    padding-bottom: 0 !important; */
}

/* ul.yesterday-dialog {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin-top: 25px;
} */

ul.yesterday-dialog {
  overflow: hidden; /* Contain floated children without traditional clearfix */
  margin-top: 40px;
  margin-bottom: 40px;
}

ul.yesterday-dialog li {
  display: inline-block;
  clear: both;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 0px;
  margin-top: 4px;
  max-width: calc(100% - 50px);
}

ul.yesterday-dialog li.their-dialog.emoji-only, ul.yesterday-dialog li.my-dialog.emoji-only {
  background-color: transparent;
  font-size: 2em;
  padding-left: 0px;
  padding-right: 0px;
}

ul.yesterday-dialog li.their-dialog {
  background: #eee;
  color: #021310;
  float: left;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

ul.yesterday-dialog li.my-dialog {
  float: right;
  text-align: right;
  background: #0084ff;
  color: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.my-dialog+.my-dialog,
.their-dialog+.their-dialog {
  margin-top: 2px;
}

.their-dialog+.my-dialog {
  border-top-right-radius: 15px;
}

.my-dialog+.their-dialog,
.their-dialog.end-speech+.their-dialog {
  border-top-left-radius: 15px;
}

.my-dialog.end-speech {
  border-bottom-right-radius: 15px;
}

.their-dialog.end-speech {
  border-bottom-left-radius: 15px;
}

.yesterday-dialog li:nth-child(1 of .my-dialog) {
  border-top-right-radius: 15px;
}

.yesterday-dialog li:nth-child(1 of .their-dialog) {
  border-top-left-radius: 15px;
}

.yesterday-dialog li:nth-last-child(1 of .their-dialog) {
  border-bottom-left-radius: 15px;
  margin-bottom: 1em;
}

.yesterday-dialog li:nth-last-child(1 of .my-dialog) {
  border-bottom-right-radius: 15px;
  margin-bottom: 1em;
}

.yesterday-dialog li:nth-last-child(1 of .their-dialog) {
  border-bottom-left-radius: 15px;
  margin-bottom: 1em;
}