
.image-grid {
    display: flex;
    flex-wrap: wrap;
    /* width: 135%; */
    /* left: -20%; */
    margin-left: 0px !important;
    /* transform: translateX(-50%); */
    position: relative;
    /* align-items: center;
    justify-content: center; */
  }
  .image-grid figure {
      flex-grow: 1;
      margin: 2px !important;
      height: 20vw;
      position: relative;
      overflow: hidden;
  }
  .image-grid img, .image-grid video {
    height: 15vw;
    margin: 0 2px 2px 0;
    max-width: 100%;
    /* min-width: 100%; */
    vertical-align: bottom;
    object-fit: cover;
  }
  
  .image-grid::after {
    content: '';
    flex-grow: 1e4;
  }

  /* Color entries */
  .nav-file-title[data-path$="md"] .nav-file-title-content {
    color: yellowgreen;
  }

  .nav-file-title[data-path$="todo.md"] .nav-file-title-content {
    color: red;
  }

  /* Hide media files */
  .nav-file-title[data-path$='.jpeg'], .nav-file-title[data-path$='.jpg'], .nav-file-title[data-path$='.png'] {
    display: none;
  }

  /* Hide comments */
  .purple-comment, .purple-comment ~ div {
    display: none;
  }

  .purple-todo, .purple-todo ~ div {
    color: orange;
  }

  .purple-dream-start, .purple-dream-start ~ .purple-dream-end {
    color: lightskyblue;
  }

  p {
    /* Make sure the dialog is not displayed over the text */
    clear: both;

    /* margin-bottom: 0 !important;
    padding-bottom: 0 !important; */
}

ul.purple-dialog li {
  display:inline-block;
  clear: both;
  padding: 5px 10px;
  /* border-radius: 15px; */
  border-radius: 5px;
  margin-bottom: 0px;
  margin-top: 4px;
  max-width: calc(100% - 50px);
  /* font-family: Helvetica, Arial, sans-serif; */
}

ul.purple-dialog li.their-dialog {
  background: #eee;
  color: #021310;
  float: left;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

ul.purple-dialog li.my-dialog {
  float: right;
  text-align: right;
  background: #0084ff;
  color: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.my-dialog + .my-dialog, .their-dialog + .their-dialog {
    margin-top: 2px;
}

.their-dialog + .my-dialog {
  border-top-right-radius: 15px;
}

.my-dialog + .their-dialog, .their-dialog.end-speech + .their-dialog {
  border-top-left-radius: 15px;
}

/* .their-dialog + .their-dialog {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.purple-dialog li:nth-last-child(1 of .my-dialog) {
  border-bottom-right-radius: 5px;
  margin-bottom: 1em;
} */

.my-dialog.end-speech {
    border-bottom-right-radius: 15px;
}

.their-dialog.end-speech {
    border-bottom-left-radius: 15px;
}

.purple-dialog li:nth-child(1 of .my-dialog) {
  border-top-right-radius: 15px;
}

.purple-dialog li:nth-child(1 of .their-dialog) {
  border-top-left-radius: 15px;
}

.purple-dialog li:nth-last-child(1 of .their-dialog) {
  border-bottom-left-radius: 15px;
  margin-bottom: 1em;
}

.purple-dialog li:nth-last-child(1 of .my-dialog) {
  border-bottom-right-radius: 15px;
  margin-bottom: 1em;
}

.purple-dialog li:nth-last-child(1 of .their-dialog) {
  border-bottom-left-radius: 15px;
  margin-bottom: 1em;
}